<ion-view>
  <ion-content scroll="false">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <div class="box blue">
          <img class="intro-img" src="img/welcome-1.png" alt="">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box yellow">
          <img class="intro-img" src="img/welcome-2.png" alt="">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box pink">
          <img class="intro-img" src="img/welcome-3.png" alt="">
          <button class="come-in" ng-click='firstCome()'>
            <img class="intro-img" src="img/guide-sure.png" alt="">
          </button>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
