<ion-header-bar class="bar-red login-bar">
    <img src="img/ben.png">
</ion-header-bar>
<ion-view>
  <ion-tabs class="tabs-striped tabs-top login-tabs">
    <ion-tab title="商家登陆">
      <ion-view>
        <form class="login-bg">
          <div class="item item-divider more-divider login-divider">
          </div>
          <div class="list login-list">
            <label class="item item-input">
              <i class="icon ion-ipad"></i>
              <input type="text" placeholder="请输入手机号" value="1000144692">
            </label>
            <label class="item item-input">
              <i class="icon ion-ios-person-outline"></i>
              <input type="text" placeholder="请输入用户名" value="admin">
            </label>
            <label class="item item-input">
              <i class="icon ion-ios-unlocked-outline"></i>
              <input type="password"  placeholder="请输入密码" value="123456">
            </label>
          </div>
          <button class="button login-button button-block button-positive" ui-sref="tab.dash">
            登录
          </button>
        </form>
      </ion-view>
    </ion-tab>
    <ion-tab title="核销员登陆">
      <ion-view>
        <form class="login-bg">
          <div class="item item-divider more-divider login-divider">
          </div>
          <div class="list login-list">
            <label class="item item-input">
              <i class="icon ion-ipad"></i>
              <input type="text" placeholder="请输入手机号" value="1000144692">
            </label>
            <label class="item item-input">
              <i class="icon ion-ios-person-outline"></i>
              <input type="text" placeholder="请输入用户名" value="admin">
            </label>
            <label class="item item-input">
              <i class="icon ion-ios-unlocked-outline"></i>
              <input type="password"  placeholder="请输入密码" value="123456">
            </label>
          </div>
          <button class="button login-button button-block button-positive" ui-sref="tab.dash">
            登录
          </button>
        </form>
      </ion-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
