<ion-view>
<div class="top-black"></div>
  <ion-content class="bacc">
   <div class="dash-head">
     <div class="first-row">
       <div class="first-row-pic">

       </div>
       <div class="first-row-message">
         旺财APP（浙江运营中心）
       </div>
       <div class="first-row-right">
         <img class="img" src="img/news.png" alt="">
       </div>
     </div>
     <div class="sec-row">
       <div class="sec-block">
         <div class="sec-pic">
           <img class="img" src="img/card-1.png" alt="">
         </div>
         <div class="sec-message">
           条码支付
         </div>
       </div>
       <div class="sec-block">
         <div class="sec-pic">
           <img class="img" src="img/card-2.png" alt="">
         </div>
         <div class="sec-message">
           发券
         </div>
       </div>
       <div class="sec-block">
         <div class="sec-pic">
           <img class="img" src="img/card-3.png" alt="">
         </div>
         <div class="sec-message">
           银行卡
         </div>
       </div>
     </div>
   </div>
   <div class="dash-sec-block">
     <div class="sec-left">
       <img class="img" src="img/1.jpg" alt="">
     </div>
     <div class="sec-right">
       <h4 class="sec-right-title">创意营销 月满中秋</h4>
       <p class="sec-right-content">浓郁节日元素，各式场景单品即可挑选吧！</p>
     </div>
   </div>
   <div class="dash-tri-block">
     <div class="tri-little-block" ng-click="open()">
       <div class="tri-img-div">
         <img src="img/vip.png" alt="" class="img">
       </div>
       <div class="tri-little-title">
         会员
       </div>
     </div>
     <div class="tri-little-block">
       <div class="tri-img-div">
         <img src="img/gift.png" alt="" class="img">
       </div>
       <div class="tri-little-title">
         营销活动
       </div>
     </div>
     <div class="tri-little-block">
       <div class="tri-img-div">
         <img src="img/pay-full.png" alt="" class="img">
       </div>
       <div class="tri-little-title">
         付满送
       </div>
     </div>
     <div class="tri-little-block">
       <div class="tri-img-div">
         <img src="img/pay.png" alt="" class="img">
       </div>
       <div class="tri-little-title">
         旺付
       </div>
     </div>
     <div class="tri-little-block">
       <div class="tri-img-div">
         <img src="img/card.png" alt="" class="img">
       </div>
       <div class="tri-little-title">
         团购卡券
       </div>
     </div>
     <div class="tri-little-block">
       <div class="tri-img-div">
         <img src="img/orders.png" alt="" class="img">
       </div>
       <div class="tri-little-title">
         外卖订单
       </div>
     </div>
     <div class="tri-little-block">
       <div class="tri-img-div">
         <img src="img/pos.png" alt="" class="img">
       </div>
       <div class="tri-little-title">
         pos贷
       </div>
     </div>
     <div class="tri-little-block">
       <div class="tri-img-div">
         <img src="img/cal.png" alt="" class="img">
       </div>
       <div class="tri-little-title">
         日结
       </div>
     </div>
   </div>
  </ion-content>
</ion-view>
