<ion-header-bar align-title="center" class="bar-red">
  <div class="title">卡券管理<i class="icon ion-arrow-down-b bar-red-title-i"></i></div>
</ion-header-bar>
<ion-view view-title="Account">
    <ion-tabs class="tabs-striped tabs-top">
      <ion-tab title="全部">
        <ion-view>
          <ion-content class="calm-bg">
            <a class="dog-404 col">
              <img src="img/dog.png" alt="" class="" width="30%" height="30%"/>
              <p class="">暂无数据</p>
              <p>点击刷新</p>
            </a>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab title="代金券">
        <ion-view>
          <ion-content class="calm-bg">
            <a class="dog-404 col">
              <img src="img/dog.png" alt="" class="" width="30%" height="30%"/>
              <p class="">暂无数据</p>
              <p>点击刷新</p>
            </a>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab title="折扣券">
        <ion-view>
          <ion-content class="calm-bg">
            <a class="dog-404 col">
              <img src="img/dog.png" alt="" class="" width="30%" height="30%"/>
              <p class="">暂无数据</p>
              <p>点击刷新</p>
            </a>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab title="提领券">
        <ion-view>
          <ion-content class="calm-bg">
            <a class="dog-404 col">
              <img src="img/dog.png" alt="" class="" width="30%" height="30%"/>
              <p class="">暂无数据</p>
              <p>点击刷新</p>
            </a>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab title="优惠券">
        <ion-view>
          <ion-content class="calm-bg">
            <a class="dog-404 col">
              <img src="img/dog.png" alt="" class="" width="30%" height="30%"/>
              <p class="">暂无数据</p>
              <p>点击刷新</p>
            </a>
          </ion-content>
        </ion-view>
      </ion-tab>
    </ion-tabs>
</ion-view>
