<ion-view>
<div class="top-black"></div>
  <ion-content class="bacc">
    <div class="data-sec-block">
      <div class="data-sec-first">
        <div class="data-sec-first-content">
          今日数据
          <i class="ion-chevron-up data-sec-first-content-right" data-pack="default" data-tags="arrow, up"></i>
        </div>
      </div>
      <div class="data-sec-little-block data-sec-little-left">
        <div class="data-sec-little-block-img">
          <img src="img/save.png" alt="" class="img">
        </div>
        <div class="data-sec-little-block-content">
          <div class="data-sec-little-title">
            收单(元)
          </div>
          <div class="data-sec-little-message">
            0.00
          </div>
        </div>
      </div>
      <div class="data-sec-little-block data-sec-little-right">
        <div class="data-sec-little-block-img">
          <img src="img/reset.png" alt="" class="img">
        </div>
        <div class="data-sec-little-block-content">
          <div class="data-sec-little-title">
            撤销收单金额(元)
          </div>
          <div class="data-sec-little-message">
            0.11
          </div>
        </div>
      </div>
      <div class="data-sec-little-block data-sec-little-left">
        <div class="data-sec-little-block-img">
          <img src="img/alipay.png" alt="" class="img">
        </div>
        <div class="data-sec-little-block-content">
          <div class="data-sec-little-title">
            支付宝(元)
          </div>
          <div class="data-sec-little-message">
            0.00
          </div>
        </div>
      </div>
      <div class="data-sec-little-block data-sec-little-right">
        <div class="data-sec-little-block-img">
          <img src="img/wechat.png" alt="" class="img">
        </div>
        <div class="data-sec-little-block-content">
          <div class="data-sec-little-title">
            微信(元)
          </div>
          <div class="data-sec-little-message">
            0.00
          </div>
        </div>
      </div>
      <div class="data-sec-little-block data-sec-little-left">
        <div class="data-sec-little-block-img">
          <img src="img/yipay.png" alt="" class="img">
        </div>
        <div class="data-sec-little-block-content">
          <div class="data-sec-little-title">
            翼支付(元)
          </div>
          <div class="data-sec-little-message">
            0.00
          </div>
        </div>
      </div>
      <div class="data-sec-little-block data-sec-little-right">
        <div class="data-sec-little-block-img">
          <img src="img/QQ.png" alt="" class="img">
        </div>
        <div class="data-sec-little-block-content">
          <div class="data-sec-little-title">
            QQ钱包(元)
          </div>
          <div class="data-sec-little-message">
            0.00
          </div>
        </div>
      </div>
      <div class="data-sec-little-block data-sec-little-left">
        <div class="data-sec-little-block-img">
          <img src="img/bank.png" alt="" class="img">
        </div>
        <div class="data-sec-little-block-content">
          <div class="data-sec-little-title">
            银联钱包(元)
          </div>
          <div class="data-sec-little-message">
            0.00
          </div>
        </div>
      </div>
      <div class="data-sec-little-block data-sec-little-right">
      </div>
    </div>
    <div class="data-sec-block bor-top">
      <div class="data-sec-little-block data-sec-little-left">
        <div class="data-sec-little-block-img">
          <img src="img/check-2.png" alt="" class="img">
        </div>
        <div class="data-sec-little-block-content">
          <div class="data-sec-little-title">
            验证(条)
          </div>
          <div class="data-sec-little-message">
            0
          </div>
        </div>
      </div>
      <div class="data-sec-little-block data-sec-little-right">
        <div class="data-sec-little-block-img">
          <img src="img/recheck.png" alt="" class="img">
        </div>
        <div class="data-sec-little-block-content">
          <div class="data-sec-little-title">
            撤销验证(条)
          </div>
          <div class="data-sec-little-message">
            0
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
