<ion-view>
<div class="top-black"></div>
  <ion-content class="bacc">
    <div class="search">
      <div class="search-pic">
        <i class="ion-ios-search-strong" data-pack="ios" data-tags="find, seek, look, magnifying glass"></i>
      </div>
      <input type="text" class="search-input" placeholder="交易流水号/凭证号/参考号">
      <div class="vertical-line"></div>
      <div class="search-button">
        搜索
      </div>
    </div>
    <div class="acquire-nav">
      <div class="acquire-little-nav acquire-little-nav-focus acquire-little-nav-first">成功</div>
      <div class="acquire-little-nav">失败</div>
      <div class="acquire-little-nav acquire-little-nav-last">已撤销</div>
    </div>
    <div class="acquire-block">
      <div class="acquire-pic">
        <img src="img/yipay.png" alt="" class="img">
      </div>
      <div class="acquire-block-content">
        <p class="acquire-block-title">
          翼支付
        </p>
        <p class="acquire-content-message">交易成功 2016-03-23 09:24:54</p>
        <p class="acquire-content-message">90000123124</p>
      </div>
      <div class="acquire-price">
        0.01
      </div>
    </div>
    <div class="acquire-block">
      <div class="acquire-pic">
        <img src="img/alipay.png" alt="" class="img">
      </div>
      <div class="acquire-block-content">
        <p class="acquire-block-title">
          支付宝
        </p>
        <p class="acquire-content-message">交易成功 2016-03-23 09:24:54</p>
        <p class="acquire-content-message">90000123124</p>
      </div>
      <div class="acquire-price">
        0.01
      </div>
    </div>
    <div class="acquire-block">
      <div class="acquire-pic">
        <img src="img/alipay.png" alt="" class="img">
      </div>
      <div class="acquire-block-content">
        <p class="acquire-block-title">
          支付宝
        </p>
        <p class="acquire-content-message">交易成功 2016-03-23 09:24:54</p>
        <p class="acquire-content-message">90000123124</p>
      </div>
      <div class="acquire-price">
        0.01
      </div>
    </div>
  </ion-content>
</ion-view>
