<ion-header-bar class="bar-red more-bar">
    <a class="item item-avatar" href="">
      <img src="img/ben.png">
      <h2>旺财APP(浙江运营中心)</h2>
      <p>终端号:1000144962</p>
      <p>所属门店:旺财APP(浙江运营中心)</p>
      <i class="icon ion-chevron-right"></i>
    </a>
</ion-header-bar>
<ion-view view-title="" class="more-list more-content">
  <ion-content class="item-divider">
  <div class="list">
    <div class="item item-divider more-divider">
    </div>

    <a class="item item-avatar" href="#">
      <img src="img/card_03.png">
      <p>卡券商城</p>
      <i class="icon ion-chevron-right"></i>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/app.png">
      <p>应用市场</p>
      <i class="icon ion-chevron-right"></i>
    </a>

    <div class="item item-divider more-divider">
    </div>
    <a class="item item-avatar" href="#">
      <img src="img/help.png">
      <p>使用帮助</p>
      <i class="icon ion-chevron-right"></i>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/share.png">
      <p>推荐给好友</p>
      <i class="icon ion-chevron-right"></i>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/contact.png">
      <p>联系我们</p>
      <i class="icon ion-chevron-right"></i>
    </a>

    <div class="item item-divider more-divider">
    </div>
    <a class="item item-avatar" href="#">
      <img src="img/set.png">
      <p>设置</p>
      <i class="icon ion-chevron-right"></i>
    </a>

  </div>
  </ion-content>
</ion-view>
