<!--<ion-tabs class="tabs-icon-top">-->
  <!--<a class="tab-item" href="#/tab/app">-->
    <!--<i class="icon bottom-icon app-icon-g"></i>-->
    <!--应用-->
  <!--</a>-->
  <!--<a class="tab-item" href="#/tab/data">-->
    <!--<i class="icon bottom-icon data-icon-g"></i>-->
    <!--数据-->
  <!--</a>-->
  <!--<a class="tab-item" href="">-->
    <!--<i class="icon bottom-icon check-icon"></i>-->
    <!--&lt;!&ndash;<i class="icon bottom-icon check-icon-w"></i>&ndash;&gt;-->
    <!--验证-->
  <!--</a>-->
  <!--<a class="tab-item" href="#/tab/setting">-->
    <!--<i class="icon bottom-icon setting-icon-g"></i>-->
    <!--设置-->
  <!--</a>-->
  <!--<a class="tab-item" href="#/tab/more">-->
    <!--<i class="icon bottom-icon more-icon-g"></i>-->
    <!--更多-->
  <!--</a>-->
<!--</ion-tabs>-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive dog-tabs">

  <!-- 应用 -->
  <ion-tab title="应用" icon-off="ion-android-apps" icon-on="ion-android-apps" href="#/tab/dash" class="wechat">
    <ion-nav-view name="tab-dash">
    </ion-nav-view>
  </ion-tab>

  <!-- 数据 -->
  <ion-tab title="数据" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/chats" class="wechat">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- 验证 -->
  <ion-tab title="验证" icon-off="ion-qr-scanner" icon-on="ion-qr-scanner" class="wechat">
    <ion-nav-view name="tab-check"></ion-nav-view>
  </ion-tab>

  <!-- 设置 -->
  <ion-tab title="设置" icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/tab/setting" class="wechat">
    <ion-nav-view name="tab-setting"></ion-nav-view>
  </ion-tab>

  <!-- 更多 -->
  <ion-tab title="更多" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/more" class="wechat">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>


</ion-tabs>
